<section class="about" id="sobre-mi">
    <div class="container flex ai-center">
        <div class="flex-1">
            <img class="about-me-img" src="./images/man-2.png" alt="">
        </div>
        <div class="flex-1">
            <h1>Sobre <span>Mi</span></h1>
            <h3>Hola! soy Edgardo Vargas.</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati perspiciatis voluptate et iure. Exercitationem pariatur, quos eaque animi quo aspernatur ipsa? Eligendi, natus iure? Voluptas pariatur esse asperiores iusto non.

            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, suscipit.
            <br><br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, odit.
            </p>
            <div class="social">
                <a href="https://www.linkedin.com/in/edgardo-vargas94/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://www.facebook.com/spiro.vargas/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/spiro_vargas/" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://github.com/Edgarvar" target="_blank"><i class="fab fa-github"></i></a>
            </div>
        </div>
    </div>
</section>