<section class="blog" id="blog">
    <div class="container">
        <h1 class="section-heading"><span>Our</span> Blog</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure.</p>
        <div class="card-wrapper">
            <div class="card">
                <div class="img-wrapper">
                    <img src="./images/article-ph-1.png" alt="">
                </div>
                <div class="card-content">
                    <a href="#">
                        <h1>Lorem ipsum dolor sit.</h1>
                    </a>
                    <span>May 12, 2021</span>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt a, recusandae similique, nihil eligendi numquam ullam qui ea, iste error earum dolore nisi culpa fugiat libero ipsam quidem! Molestias, unde!</p>
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="card">
                <div class="img-wrapper">
                    <img src="./images/article-ph-1.png" alt="">
                </div>
                <div class="card-content">
                    <a href="#">
                        <h1>Lorem ipsum dolor sit.</h1>
                    </a>
                    <span>May 12, 2021</span>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt a, recusandae similique, nihil eligendi numquam ullam qui ea, iste error earum dolore nisi culpa fugiat libero ipsam quidem! Molestias, unde!</p>
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="card">
                <div class="img-wrapper">
                    <img src="./images/article-ph-1.png" alt="">
                </div>
                <div class="card-content">
                    <a href="#">
                        <h1>Lorem ipsum dolor sit.</h1>
                    </a>
                    <span>May 12, 2021</span>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt a, recusandae similique, nihil eligendi numquam ullam qui ea, iste error earum dolore nisi culpa fugiat libero ipsam quidem! Molestias, unde!</p>
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>