<section class="reviews">
    <div class="container">
        <h1 class="section-heading"><span>Mis</span> Clientes</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id, quisquam.</p>
        <div class="slider">
            <div class="slide">
                <img src="./images/lady.png" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex architecto dolorum, deserunt similique nisi porro tempora, dolore dolor eaque, consectetur laborum alias ducimus libero impedit laudantium deleniti nam officia illo.</p>
                <span>- John Doel, Company ABCs -</span>
            </div>
            <div class="slide">
                <img src="./images/lady.png" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex architecto dolorum, deserunt similique nisi porro tempora, dolore dolor eaque, consectetur laborum alias ducimus libero impedit laudantium deleniti nam officia illo.</p>
                <span>- John Doel, Company ABCs -</span>
            </div>
            <div class="slide">
                <img src="./images/lady.png" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex architecto dolorum, deserunt similique nisi porro tempora, dolore dolor eaque, consectetur laborum alias ducimus libero impedit laudantium deleniti nam officia illo.</p>
                <span>- John Doel, Company ABCs -</span>
            </div>
            <div class="slide">
                <img src="./images/lady.png" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex architecto dolorum, deserunt similique nisi porro tempora, dolore dolor eaque, consectetur laborum alias ducimus libero impedit laudantium deleniti nam officia illo.</p>
                <span>- John Doel, Company ABCs -</span>
            </div>
        </div>
        <div class="slider-dots"></div>
    </div>
</section>