<section class="contact">
    <div class="container">
        <h1 class="section-heading">Contac<span>tame</span></h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <div class="card-wrapper">
            <div class="card">
                <i class="fas fa-mobile-alt"></i>
                <h1>Llámame Al</h1>
                <h6>+54 11 5669 7022</h6>
            </div>
            <div class="card">
                <i class="far fa-envelope"></i>
                <h1>Enviame Un Correo</h1>
                <h6>client@codelover.com</h6>
            </div>
            <div class="card">
                <i class="far fa-map"></i>
                <h1>Visita La Oficina</h1>
                <h6>Av. Vergara 273, Beratazegui, Bs As, Argentina.</h6>
            </div>
        </div>

        <form action="">
            <div class="input-wrap">
                <input type="text" placeholder="Tu Nombre *">
                <input type="email" placeholder="Tu Email *">
            </div>
            <div class="input-wrap-2">
                <input type="text" placeholder="Tu Asunto...">
                <textarea name="" id="" cols="30" rows="10" placeholder="Tu Mensaje..."></textarea>
            </div>
            <div class="btn-wrapper">
                <button class="btn btn-primary">Enviar Mensaje</button>
            </div>
        </form>
    </div>
</section>