<section class="freelancer">
    <h1>Disponible para Freelancer</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti, similique.</p>
    <button class="btn btn-primary">Descargar CV</button>
</section>