<div class="navbar">
    <div class="container">
        <nav id="main-nav" class="flex ai-center jc-between">
            <div class="left flex ai-center">
                <div class="branding flex">
                    <img src="./images/logo.svg" alt="">
                </div>
                <div>
                    <a href="#inicio">Inicio</a>
                    <a href="#sobre-mi">Sobre Mi</a>
                    <a href="#servicios">Servicios</a>
                    <a href="#paginas">Páginas</a>
                    <a href="#blog">Blog</a>
                </div>
            </div>
            <div class="right">
                <a href="#contacto"><button class="btn btn-primary">CONTACTO</button></a>
            </div>
        </nav>
    </div>
</div>