<header>
    <div class="container" id="inicio">
        <div class="hero flex ai-center jc-between">
            <div class="left flex-1 jc-center">
                <img src="./images/man.png" alt="">
            </div>
            <div class="right flex-1">
                <h6>Edgardo Vargas</h6>
                <h1>Soy Desarrollador <span>Web</span></h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis consectetur accusantium aliquid corporis delectus dignissimos, cupiditate voluptates cum nisi, magnam saepe animi veniam recusandae nesciunt quidem. Id doloribus odio exercitationem.
                </p>
                <div>
                    <button class="btn btn-secondary">DESCARGAR CV</button>
                </div>
            </div>
        </div>
    </div>
</header>