<section class="services" id="servicios">
    <div class="container">
        <h1 class="section-heading"><span>Mis</span> Servicios</h1>
        <p>Proporciono un sitio web de alto estándar para sus soluciones comerciales.</p>
        <div class="card-wrapper">
            <div class="card">
                <i class="fas fa-paint-brush"></i>
                <h2>Diseño Gráfico</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi possimus fugiat nesciunt illo quo sunt tempora laboriosam at, ad ullam.</p>
            </div>
            <div class="card">
                <i class="fas fa-code"></i>
                <h2>Desarrollo Web</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi possimus fugiat nesciunt illo quo sunt tempora laboriosam at, ad ullam.</p>
            </div>
            <div class="card">
                <i class="fas fa-ad"></i>
                <h2>Marketing Digital</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi possimus fugiat nesciunt illo quo sunt tempora laboriosam at, ad ullam.</p>
            </div>
            <div class="card">
                <i class="fas fa-desktop"></i>
                <h2>Diseño Web</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi possimus fugiat nesciunt illo quo sunt tempora laboriosam at, ad ullam.</p>
            </div>
            <div class="card">
                <i class="fas fa-film"></i>
                <h2>Gráfico de movimiento</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi possimus fugiat nesciunt illo quo sunt tempora laboriosam at, ad ullam.</p>
            </div>
            <div class="card">
                <i class="fas fa-mobile-alt"></i>
                <h2>Diseño Gráfico</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi possimus fugiat nesciunt illo quo sunt tempora laboriosam at, ad ullam.</p>
            </div>
        </div>
        
    </div>
</section>